<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label for="title" class="col-lg-2 control-label">Title</label>
            <div class="col-lg-10">
                <input class="form-control" id="title" placeholder="Title" type="text" ng-model="item.title">
            </div>
            <label for="subscriberId" class="col-lg-2 control-label">Subscriber ID</label>
            <div class="col-lg-10">
                <input class="form-control" id="subscriberId" placeholder="Subscriber ID" type="number" ng-model="item.subscriberId">
            </div>
            <label for="channelId" class="col-lg-2 control-label">Channel ID</label>
            <div class="col-lg-10">
                <input class="form-control" id="channelId" placeholder="Channel ID" type="number" ng-model="item.channelId">
            </div>
            <label for="cfg" class="col-lg-2 control-label">Configuration</label>
            <div class="col-lg-10">
                <input class="form-control" id="cfg" placeholder="Configuration" type="text" ng-model="item.cfg">
            </div>
        </div>
    </fieldset>
</form>

