<div class="jumobtron">
    <div class="container">
        <h1>Event Cracker</h1>
        <p>Simple application that:
            <ol>
                <li>Receives stream of events as input</li>
                <li>Maintain list of subscribers that can subscribe to the events of certain type
                <ol>
                    <li>An output channel can be configured for a given subscriber to process events that he subscribed to</li>
                </ol>
                </li>
                <li>Maintain list of <i>output</i> channels that are sources of the events</li>
            </ol>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Channels Overview</h2>
            <p>Here you can observe the list of channels available and their characteristics.
            </p>
            <a href="#/channels">Explore channels »</a>
        </div>
        <div class="col-md-4">
            <h2>Subscribers</h2>
            <p>Here you can see list of subscribers, create new ones, or delete or modify existing.
            </p>
            <a href="#/subscribers">Manage subscribers »</a>
        </div>
        <div class="col-md-4">
            <h2>Events Flow metrics</h2>
            <p>Here you can observe dynamic characteristics of events flows.
            </p>
            <a href="#/events-streams">See events flow »</a>
        </div>
    </div>
</div>